.centered-heading {
    text-align: center;
    font-family: "Garamond", Times, serif;
    font-size: 40px;
    border-inline: double;
    padding-inline: 10px;
}
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-table {
    border-collapse: collapse;
    width: 30cm;
    border-spacing: 1cm;
}

.button-table td {
    width: 7cm;
    height: 3cm;
    text-align: center;
}

button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 2em;
    margin: 0.5cm;
    border-radius: 10px;
}
body {
    background-color: cyan;
}
