* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', serif;
}

body{
  background: #dbd9d9;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

h1 {
  padding-top: 3%;
  color: black;
  text-align: center;
  font-size: 50px;
}


#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 3%;
}

.btn {
  position: relative;
  background: #fff;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
  width: 550px;
  height: 70px;
}

.btn:hover{
  color: rgb(22, 131, 233);
  letter-spacing: 0.18em;
  box-shadow: 0 0 35px;

}

.btn:before{
  position: absolute;
  inset: 2px;
  background: #fff;
}

.btn span{
  position: relative;
  z-index: 1;
}

h3{
  font-size: 18px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
}

h3 a{
  color: black;
  text-decoration: none;
}

h3 a:hover{
  color: rgb(22, 131, 233);
  text-shadow: 0 0 35px rgb(22, 131, 233);
}

#buttons h2{
  color: black;
  font-size: 25px;
}
