<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<header>
    <h1 class="admin-name" th:text="${admins.get(0).getName() + ' - Pult kiosztás'}"></h1>
    <h3 class="logout-btn"><a th:href="@{/logout}">Kijelentkezés</a></h3>
    <form th:action="@{admin/eod}" method="post">
        <button class="end-btn" type="submit">Napzárás</button>
    </form>
</header>

<div id="buttons1">
<form th:action="@{/admin}" method="get">
    <button class="btn1" style="--clr:rgb(7, 197, 245);" type="submit">Jogosultságok</button>
</form>
<form th:action="@{/admin/statistics}" method="get">
    <button class="btn1" style="--clr:rgb(7, 197, 245);" type="submit">Fiók áttekintő</button>
</form>
<form th:action="@{/admin/desk}" method="get">
    <button class="btn1" style="--clr:rgb(7, 197, 245);" type="submit">Pult kiosztás</button>
</form>
<form th:action="@{/admin/registration}" method="get">
    <button class="btn1" style="--clr:rgb(7, 197, 245);" type="submit">Új ügyintéző felvétele</button>
</form>
<form th:action="@{/admin/management}" method="get">
    <button class="btn1" style="--clr:rgb(7, 197, 245);" type="submit">Ügyintéző kezelés</button>
</form>

</div>

<div class="table-container">
<form th:action="@{/admin/desk}" method="post">
    <table>
        <thead>
        <tr>
            <th>Pultok</th>
            <th th:each="actual : ${employees}" th:text="${actual.getName()}"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${desks.get(0).getId()} + '. pult'"></td>
            <td th:each="current : ${employees}">
                <input type="radio" th:value="${current.getId()}" name="desk1">
                <input type="hidden" th:value="${desks.get(0).getId()}" name="desk1Id">
            </td>
        </tr>
        <tr>
            <td th:text="${desks.get(1).getId()} + '. pult'"></td>
            <td th:each="current : ${employees}">
                <input type="radio" th:value="${current.getId()}" name="desk2">
                <input type="hidden" th:value="${desks.get(1).getId()}" name="desk2Id">
            </td>
        </tr>
        <tr>
            <td th:text="${desks.get(2).getId()} + '. pult'"></td>
            <td th:each="current : ${employees}">
                <input type="radio" th:value="${current.getId()}" name="desk3">
                <input type="hidden" th:value="${desks.get(2).getId()}" name="desk3Id">
            </td>
        </tr>
        <tr>
            <td th:text="${desks.get(3).getId()} + '. pult'"></td>
            <td th:each="current : ${employees}">
                <input type="radio" th:value="${current.getId()}" name="desk4">
                <input type="hidden" th:value="${desks.get(3).getId()}" name="desk4Id">
            </td>
        </tr>
        <tr>
            <td th:text="${desks.get(4).getId()} + '. pult'"></td>
            <td th:each="current : ${employees}">
                <input type="radio" th:value="${current.getId()}" name="desk5">
                <input type="hidden" th:value="${desks.get(4).getId()}" name="desk5Id">
            </td>
        </tr>
        <tr>
            <td th:text="${desks.get(5).getId()} + '. pult'"></td>
            <td th:each="current : ${employees}">
                <input type="radio" th:value="${current.getId()}" name="desk6">
                <input type="hidden" th:value="${desks.get(5).getId()}" name="desk6Id">
            </td>
        </tr>
        </tbody>
    </table>
    <button class="save-btn" type="submit">Mentés</button>
</form>
</div>
</body>
</html>