<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<header>
    <h1 th:text="${admins.get(0).getName()}"></h1>
</header>
<h2>Fiókvezető</h2>

<form th:action="@{/admin}" method="get">
    <button type="submit">Jogosultságok</button>
</form>
<form th:action="@{/admin/statistics}" method="get">
    <button type="submit">Fiók áttekintő</button>
</form>
<form th:action="@{/admin/desk}" method="get">
    <button type="submit">Pult kiosztás</button>
</form>
<form th:action="@{/admin/registration}" method="get">
    <button type="submit">Új ügyintéző felvétele</button>
</form>

<h3>Pult kiosztás</h3>

<form th:action="@{/admin/desk}" method="post">
    <table>
        <thead>
        <tr>
            <th>Pultok</th>
            <th th:each="actual : ${employees}" th:text="${actual.getName()}"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${desks.get(0).getId()} + '. pult'"></td>
            <td th:each="current : ${employees}">
                <input type="radio" th:value="${current.getId()}" name="desk1">
                <input type="hidden" th:value="${desks.get(0).getId()}" name="desk1Id">
            </td>
        </tr>
        <tr>
            <td th:text="${desks.get(1).getId()} + '. pult'"></td>
            <td th:each="current : ${employees}">
                <input type="radio" th:value="${current.getId()}" name="desk2">
                <input type="hidden" th:value="${desks.get(1).getId()}" name="desk2Id">
            </td>
        </tr>
        <tr>
            <td th:text="${desks.get(2).getId()} + '. pult'"></td>
            <td th:each="current : ${employees}">
                <input type="radio" th:value="${current.getId()}" name="desk3">
                <input type="hidden" th:value="${desks.get(2).getId()}" name="desk3Id">
            </td>
        </tr>
        <tr>
            <td th:text="${desks.get(3).getId()} + '. pult'"></td>
            <td th:each="current : ${employees}">
                <input type="radio" th:value="${current.getId()}" name="desk4">
                <input type="hidden" th:value="${desks.get(3).getId()}" name="desk4Id">
            </td>
        </tr>
        <tr>
            <td th:text="${desks.get(4).getId()} + '. pult'"></td>
            <td th:each="current : ${employees}">
                <input type="radio" th:value="${current.getId()}" name="desk5">
                <input type="hidden" th:value="${desks.get(4).getId()}" name="desk5Id">
            </td>
        </tr>
        <tr>
            <td th:text="${desks.get(5).getId()} + '. pult'"></td>
            <td th:each="current : ${employees}">
                <input type="radio" th:value="${current.getId()}" name="desk6">
                <input type="hidden" th:value="${desks.get(5).getId()}" name="desk6Id">
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Mentés</button>
</form>
</body>
</html>