<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Employee</title>
</head>
<body>
<header>
  <h2>  <span th:text="${desk.getEmployee().getName()}"></span></h2>
  <h2>  A pult száma: <span th:text="${desk.getId()}"></span></h2>
  <a th:href="@{/logout}">Logout</a>

</header>
<h2>Várakozó ügyfelek</h2>
<table>
  <thead>
  <tr>
    <th>Lakosság</th>
    <th>Vállalat</th>
    <th>Pénztár</th>
    <th>Premium</th>
  </tr>
  </thead>
  <tr>
    <td th:text="${retailCount}"></td>
    <td th:text="${corporateCount}"></td>
    <td th:text="${tellerCount}"></td>
    <td th:text="${premiumCount}"></td>
  </tr>

</table>
<h2>  <span th:text="${actualPermission}"> </span></h2>
<table>
  <thead>
  <tr>
    <th>Várakozók</th>
    <th>Csapat létszám</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${actualCount}"></td>
    <td th:text="${employeeCount}"></td>
  </tbody>
</table>
<form th:action="@{/employee}" method="post">
  <button type="submit"> Következő ügyfél</button>
</form>


</body>
</html>