<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <title>Kezdőlap</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
<div class="header">
    <h1>Üdvözöljük Bankunkban!</h1>
    <hr>
    <h2>Kérjük válasszon szolgáltatást:</h2>
</div>

<h3><a th:href="@{/login}">Bejelentkezés Adminként</a></h3>

<div class="container">
    <table class="home-table">

        <tr>
            <td>
                <a class="home-button" th:href="@{/retail}">Lakossági Szolgáltatások</a>
            </td>
        </tr>

        <tr>
            <td>
                <a class="home-button" th:href="@{/corporate}">Vállalati Szolgáltatások</a>
            </td>
        </tr>

        <tr>
            <td>
                <a class="home-button" th:href="@{/tellers}">Pénztár</a>
            </td>
        </tr>

        <tr>
            <td>
                <a class="home-button" th:href="@{/premium}">Prémium</a>
            </td>
        </tr>

    </table>
</div>

</body>

</html>