<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <title>Kezdőlap</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
<h1>Üdvözöljük Bankunkban!</h1>
<h2>Kérjük válasszon szolgáltatást</h2>
<h3><a th:href="@{/login}">Admin sign in</a></h3>
<table>
    <tr>
        <th>
            <form th:action="@{/home}" method="post">
                <button type="submit" name="whereTo" value="1">Lakossági szolgáltatások</button>
            </form>
        </th>
    </tr>
    <tr>
        <th>
            <form th:action="@{/home}" method="post">
                <button type="submit" name="whereTo" value="2">Vállalati szolgáltatások</button>
            </form>
        </th>
    </tr>
    <tr>
        <th>
            <form th:action="@{/home}" method="post">
                <button type="submit" name="whereTo" value="3">Pénztár</button>
            </form>
        </th>
    </tr>
    <tr>
        <th>
            <form th:action="@{/home}" method="post">
                <button type="submit" name="whereTo" value="4">Prémium</button>
            </form>
        </th>
    </tr>
</table>
</body>

</html>