<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<header>
    <h1 class="admin-name" th:text="${admins.get(0).getName() + ' - Ügyintéző kezelése'}"></h1>
    <h3 class="logout-btn"><a th:href="@{/logout}">Kijelentkezés</a></h3>
    <form th:action="@{admin/eod}" method="post">
        <button class="end-btn" type="submit">Napzárás</button>
    </form>
</header>

<div id="buttons1">

    <form th:action="@{/admin}" method="get">
        <button class="btn1" style="--clr:rgb(7, 197, 245);" type="submit">Jogosultságok</button>
    </form>
    <form th:action="@{/admin/statistics}" method="get">
        <button class="btn1" style="--clr:rgb(7, 197, 245);" type="submit">Fiók áttekintő</button>
    </form>
    <form th:action="@{/admin/desk}" method="get">
        <button class="btn1" style="--clr:rgb(7, 197, 245);" type="submit">Pult kiosztás</button>
    </form>
    <form th:action="@{/admin/registration}" method="get">
        <button class="btn1" style="--clr:rgb(7, 197, 245);" type="submit">Új ügyintéző felvétele</button>
    </form>
    <form th:action="@{/admin/management}" method="get">
        <button class="btn1" style="--clr:rgb(7, 197, 245);" type="submit">Ügyintéző kezelése</button>
    </form>

</div>


<form class="action-form" th:action="@{/admin/management}" method="post">
    <select id="employeeName" name="name">
        <option value="">--Kérem válassza ki az ügyintézőt--</option>
        <option th:each="employee : ${employees}" th:value="${employee.getName()}"
                th:text="${employee.getName()}"></option>
    </select>
    <!--input type="text" id="employeeName" name="name" /-->
    <div class="action-buttons">
        <button class="action-btn" type="submit" name="action" value="USER">Aktiválás</button>
        <button class="action-btn" type="submit" name="action" value="inactive">Deaktiválás</button>
        <button class="action-btn" type="submit" name="action" value="delete">Törlés</button>
    </div>
</form>
</body>
</html>