<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<header>
    <h1 th:text="${admins.get(0).getName()}"></h1>
    <form th:action="@{admin/eod}" method="post">
        <button type="submit">Napzárás</button>
    </form>
</header>
<h2>Fiókvezető</h2>

<form th:action="@{/admin}" method="get">
    <button type="submit">Jogosultságok</button>
</form>
<form th:action="@{/admin/statistics}" method="get">
    <button type="submit">Fiók áttekintő</button>
</form>
<form th:action="@{/admin/desk}" method="get">
    <button type="submit">Pult kiosztás</button>
</form>
<form th:action="@{/admin/registration}" method="get">
    <button type="submit">Új ügyintéző felvétele</button>
</form>
<form th:action="@{/admin/management}" method="get">
    <button type="submit">Ügyintéző kezelés</button>
</form>

<h3>Ügyintéző kezelés</h3>

<form th:action="@{/admin/management}" method="post">
    <label for="employeeName">Ügyintéző neve:</label>
    <select id="employeeName" name="name">
        <option value="">--Kérem válassza ki az ügyintézőt--</option>
        <option th:each="employee : ${employees}" th:value="${employee.getName()}"
                th:text="${employee.getName()}"></option>
    </select>
    <!--input type="text" id="employeeName" name="name" /-->

    <button type="submit" name="action" value="USER">Aktiválás</button>
    <button type="submit" name="action" value="inactive">Deaktiválás</button>
    <button type="submit" name="action" value="delete">Törlés</button>
</form>
</body>
</html>