<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Get the next client</title>
</head>
<body>
<header>
  <h2>  <span th:text="${desk.getEmployee().getName()}"></span></h2>
  <h2>  A pult száma: <span th:text="${desk.getId()}"></span></h2>
  <h2>  A következő <span th:text="${actualPermission}"></span>i ügyfél:
    <span th:text="${desk.getQueueNumber().getName()}"></span></h2>
</header>
<h2>Várakozó ügyfelek</h2>
<table>
  <thead>
  <tr>
    <th>Lakosság</th>
    <th>Vállalat</th>
    <th>Pénztár</th>
    <th>Premium</th>
  </tr>
  </thead>
  <tr>
    <td th:text="${retailCount}"></td>
    <td th:text="${corporateCount}"></td>
    <td th:text="${tellerCount}"></td>
    <td th:text="${premiumCount}"></td>
  </tr>
</table>
<h2>  <span th:text="${actualPermission}"></span></h2>
<table>
  <thead>
  <tr>
    <th>Várakozók</th>
    <th>Csapat létszám</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${actualCount}"></td>
    <td th:text="${employeeCount}"></td>
  </tbody>
</table>

<form th:action="@{/employee/closure}" method="get">
  <button type="submit"> Lezárás</button>
</form>
<form th:action="@{/employee/redirect}" method="get">
  <label for="redirectLocation">Sorszám átirányítása:</label>
  <select id="redirectLocation" name="redirectLocation" required>
    <option value="retail">Lakosság</option>
    <option value="corporate">Vállalat</option>
    <option value="teller">Pénztár</option>
    <option value="premium">Prémium</option>
  </select>
  <button type="submit">Átirányítás</button>
</form>
<form th:action="@{/employee/deleteNumber}" method="get">
  <button type="submit"> Törlés</button>
</form>

</body>
</html>