<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BankBlaze</title>
</head>
<body>
<h1>Lakossági Szolgáltatások</h1>
<div>
    <a th:href="@{/queueNumber}" th:text="${corporates.get(0).name}"></a>
</div>
<div>
    <a th:href="@{/queueNumber}" th:text="${corporates.get(1).name}"></a>
</div>
<div>
    <a th:href="@{/queueNumber}" th:text="${corporates.get(2).name}"></a>
</div>
<div>
    <a th:href="@{/queueNumber}" th:text="${corporates.get(3).name}"></a>
</div>
</body>
</html>