<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pénztár</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
<table class="main-table">
    <tr>
        <td class="bank-name">BankBlaze</td>
        <td class="teller-title">Pénztár</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;</td>
    </tr>
</table>
<div>
    <div>
        <form method="post" th:action="@{/teller}">
            <input type="hidden" th:value="${tellers.get(0).getId()}" name="id">
            <button class="retail-button" th:text="${tellers.get(0).name}"></button>
        </form>
        <form method="post" th:action="@{/teller}">
            <input type="hidden" th:value="${tellers.get(1).getId()}" name="id">
            <button class="retail-button" th:text="${tellers.get(1).name}"></button>
        </form>
        <form method="post" th:action="@{/teller}">
            <input type="hidden" th:value="${tellers.get(2).getId()}" name="id">
            <button class="retail-button" th:text="${tellers.get(2).name}"></button>
        </form>
    </div>
</div>
</body>
</html>
