<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BankBlaze</title>
    <link rel="stylesheet" type="text/css" href="/retail.css">
</head>
<body>
<h1>Vállalati Szolgáltatások</h1>
<div>
    <div>
        <form method="post" th:action="@{/corporate}">
            <input type="hidden" th:value="${corporates.get(0).getId()}" name="id">
            <button class="retail-button" th:text="${corporates.get(0).name}"></button>
        </form>
        <form method="post" th:action="@{/corporate}">
            <input type="hidden" th:value="${corporates.get(1).getId()}" name="id">
            <button class="retail-button" th:text="${corporates.get(1).name}"></button>
        </form>
        <form method="post" th:action="@{/corporate}">
            <input type="hidden" th:value="${corporates.get(2).getId()}" name="id">
            <button class="retail-button" th:text="${corporates.get(2).name}"></button>
        </form>
        <form method="post" th:action="@{/corporate}">
            <input type="hidden" th:value="${corporates.get(3).getId()}" name="id">
            <button class="retail-button" th:text="${corporates.get(3).name}"></button>
        </form>
    </div>
</div>
</body>
</html>