<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pénztár</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
<div class="header">
    <h1>Pénztár</h1>
</div>
<div class="container">
    <table class="menu-table">
        <tr>
            <td><a class="menu-button" href="queuenumber.html">Pénztár befizetés</a></td>
            <td><a class="menu-button" href="queuenumber.html">Pénztár kifizetés</a></td>
        </tr>

        <tr>
            <td colspan="2"><a class="menu-button" href="queuenumber.html">Valutaváltás</a></td>
        </tr>
    </table>
</div>
</body>
</html>
