<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>BankBlaze</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
<div class="header">
    <h1>Vállalati Szolgáltatások</h1>
</div>
<div class="container">
    <table class="menu-table">
        <tr>
            <td>
                <a class="home-button" th:href="@{/queue/queueNumber}" th:text="${corporates.get(0).name}">Számlaügyintézés</a>
            </td>
            <td>
                <a class="home-button" th:href="@{/queue/queueNumber}" th:text="${corporates.get(1).name}">Hitelek</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="home-button" th:href="@{/queue/queueNumber}" th:text="${corporates.get(2).name}">Megtakarítások</a>
            </td>
            <td>
                <a class="home-button" th:href="@{/queue/queueNumber}" th:text="${corporates.get(3).name}">Elektronikus szolgáltatások</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>

