<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<h1> Üdvözöljük</h1>
<div class="centered-content">
    <h3 th:if="${queueNumber != null}">
        <span th:text="${queueNumber.name}"></span>,
        az ön Sorszáma: <span th:text="${queueNumber.number}" style="color: blue;"></span>
    </h3>
    <div th:if="${queueNumber != null}">
        <h3>Ön előtt várakozók száma: <span th:text="${count}" style="color: blue;"></span></h3>
    </div>
</div>
<div class="frame">
    <form th:action="@{/queue/showNumber}" method="post">
        <h1>Rögzíti?</h1>
        <button class="submit-btn" type="submit" name="action" value="confirm">Igen</button>
        <button class="submit-btn" type="submit" name="action" value="delete">Nem</button>
    </form>
</div>
</body>
</html>
