<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<header>
    <h1 class="admin-name" th:text="${admins.get(0).getName() + ' - Fiók áttekintő'}"></h1>
    <h3 class="logout-btn"><a th:href="@{/logout}">Kijelentkezés</a></h3>
    <form th:action="@{admin/eod}" method="post">
        <button class="end-btn" type="submit">Napzárás</button>
    </form>
</header>


<div id="buttons1">

    <form th:action="@{/admin}" method="get">
        <button class="btn1" style="--clr:rgb(7, 197, 245);" type="submit">Jogosultságok</button>
    </form>
    <form th:action="@{/admin/statistics}" method="get">
        <button class="btn1" style="--clr:rgb(7, 197, 245);" type="submit">Fiók áttekintő</button>
    </form>
    <form th:action="@{/admin/desk}" method="get">
        <button class="btn1" style="--clr:rgb(7, 197, 245);" type="submit">Pult kiosztás</button>
    </form>
    <form th:action="@{/admin/registration}" method="get">
        <button class="btn1" style="--clr:rgb(7, 197, 245);" type="submit">Új ügyintéző felvétele</button>
    </form>
    <form th:action="@{/admin/management}" method="get">
        <button class="btn1" style="--clr:rgb(7, 197, 245);" type="submit">Ügyintéző kezelése</button>
    </form>

</div>

<div class="table-container-statistics">

<table>
    <thead>
    <tr>
        <th>Szolgáltatás</th>
        <th>Várakozók száma</th>
        <th>Kiszolgálás alatt</th>
        <th>Összesen</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td>Lakosság</td>
        <td th:text="${retailLeft} < 0 ? 0 : ${retailLeft}"></td>
        <td th:text="${retailAtDesk}"></td>
        <td th:text="${retailSum}"></td>
    </tr>
    <tr>
        <td>Vállalat</td>
        <td th:text="${corporateLeft} < 0 ? 0 : ${corporateLeft} "></td>
        <td th:text="${corporateAtDesk}"></td>
        <td th:text="${corporateSum}"></td>
    </tr>
    <tr>
        <td>Pénztár</td>
        <td th:text="${tellerLeft} < 0 ? 0 : ${tellerLeft}"></td>
        <td th:text="${tellerAtDesk}"></td>
        <td th:text="${tellerSum}"></td>
    </tr>
    <tr>
        <td>Premium</td>
        <td th:text="${premiumLeft} < 0 ? 0 : ${premiumLeft}"></td>
        <td th:text="${premiumAtDesk}"></td>
        <td th:text="${premiumSum}"></td>
    </tr>
    </tbody>
</table>
</div>

</body>
</html>